<div>
    <h1>About</h1>

    <mat-stepper [linear]="true" #stepper>
        <mat-step label="Informations">
            First Step
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="More information">
            Step 2
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>