$primary-color: #007bff;
$secondary-color: #5c6bc0;
$disabled-color: #cccccc;
$text-color: #ffffff;
$disabled-text-color: #666666;

$hover-color: #0056b3;

$sidebar-bg-color: #5c6bc0;
$sidebar-text-color: white;
$sidebar-link-color: white;
$sidebar-link-hover-bg: #c5cae9;
$sidebar-link-hover-color: #3f51b5;

$header-bg-color: #3f51b5;
$header-text-color: white;